<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.qrcode"
    version     = "1.0.0" >

<!-- xmlns:android   = "http://schemas.android.com/apk/res/android" -->
<!-- versionCode is optional and Android only -->

  <name>QR-Code</name>

  <description>
	A QR-Code implementation that can create, parse and read custom qr-codes with their own encryption. App included that can parse QR-Codes in real time
  </description>

  <author href="https://github.com/Quoteme/qrcode" email="">
      Luca Leon Happel
  </author>

  <icon src="icon.png" />

  <preference name='phonegap-version' value='cli-9.0.0' />
  <preference name="android-targetSdkVersion" value="28" />
  <preference name='pgb-builder-version' value='1' />
<preference name="xwalkVersion" value="org.xwalk:xwalk_core_library_beta:13+" />
<preference name="xwalkVersion" value="xwalk_core_library_beta:13+" />
<preference name="xwalkVersion" value="13+" />
<preference name="xwalkVersion" value="13" />

  <plugin name="cordova-plugin-camera" source="npm" />
  <plugin name="https://github.com/phonegap-build/cordova-plugin-crosswalk-webview.git" />
</widget>
