<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.qrcode"
    version     = "1.0.0" >

<!-- xmlns:android   = "http://schemas.android.com/apk/res/android" -->
<!-- versionCode is optional and Android only -->

  <name>QR-Code</name>

  <description>
	A QR-Code implementation that can create, parse and read custom qr-codes with their own encryption. App included that can parse QR-Codes in real time
  </description>

  <author href="https://github.com/Quoteme/qrcode" email="">
      Luca Leon Happel
  </author>

  <icon src="icon.png" />

  <gap:plugin name="cordova-plugin-camera" source="npm" />
  <gap:plugin name="cordova-plugin-crosswalk-webview-pgb-adapt" source="npm" version="1.4.0-dev-5"/>
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-permission android:name="android.permission.CAMERA" />
</widget>
